.bredcrumb {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  margin: 10px auto;
  margin-bottom: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.bredcrumb span {
  font-size: 14px;
  font-weight: 500;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bredcrumb span i {
  margin-left: 5px;
}
.bredcrumb span a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.product-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.product-details .image {
  flex: 0 0 35%;
  min-width: 0 0 35%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}
.product-details .image .smallimage {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.product-details .image .smallimage img {
  cursor: pointer;
  width: 70px;
  height: 70px;
  border: 1px solid #f5eded;
  box-shadow: 0px 0px 3px 0px rgb(180, 180, 180);
  margin-bottom: 5px;
  margin-top: 5px;
}
.product-details .image .smallimage img.active {
  box-shadow: 0px 0px 3px 0px rgb(74, 169, 210);
}
.product-details .image .bigimage {
  height: 85%;
  width: 100%;
}
.product-details .image .bigimage .picZoomer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details .image .bigimage .picZoomer .xzoom {
  transition: all 400ms !important;
}
.product-details .image .bigimage .picZoomer:hover .xzoom {
  scale: 1.1 !important;
}
.product-details .details {
  flex: 0 0 30%;
  min-width: 0 0 30%;
  width: 30%;
  margin-top: 30px;
  padding: 10px;
}
.product-details .details .name {
  margin-top: 10px !important;
  font-weight: 600;
  letter-spacing: -0.025em;
  font-size: 1.8rem;
}
.product-details .details .sno {
  margin-top: 5px !important;
  font-weight: 600;
  letter-spacing: -0.025em;
  font-size: 1.3rem;
  color: #505050;
}
.product-details .details .price {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  row-gap: 10px;
}
.product-details .details .price .rprice,
.product-details .details .price .sprice {
  background-color: #c9c5c5;
  padding: 5px 5px;
  margin-right: 10px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
.product-details .details .price .sprice {
  font-size: 15px !important;
  font-weight: 600;
}
.product-details .details .price .rprice {
  font-size: 15px !important;
  font-weight: 500;
}
.product-details .details .quickoverview {
  margin-top: 30px !important;
}
.product-details .details .quickoverview .quickoverviewtitle {
  font-weight: 700;
  letter-spacing: -0.025em;
  font-size: 1.8rem;
}
.product-details .details .quickoverview .quickoverviewlist {
  margin-top: 5px;
  margin-left: 20px;
}
.product-details .details .quickoverview .quickoverviewlist li {
  list-style: circle !important;
  margin-top: 10px !important;
  font-weight: 600;
  letter-spacing: -0.025em;
  font-size: 1.4rem;
  line-height: 12px;
}
.product-details .details .btn-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.product-details .details .btn-group a {
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
}
.product-details .details .btn-group a.add-to-cart {
  background-color: rgb(95, 187, 3);
}
.product-details .specifiction {
  flex: 0 0 25%;
  min-width: 0 0 25%;
  width: 25%;
  padding: 5px;
}
.product-details .specifiction .related-product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  margin-top: 5px;
}
.product-details .specifiction .related-product-box .similar-product-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.product-details .specifiction .related-product-box .similar-product-card .top {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  -moz-column-gap: 5px;
       column-gap: 5px;
  width: 100%;
}
.product-details .specifiction .related-product-box .similar-product-card .top .similar-product-card-image img {
  height: 80px;
  width: 80px;
  transition: all 400ms;
  scale: 1;
}
.product-details .specifiction .related-product-box .similar-product-card .top .similar-product-card-image img:hover {
  scale: 1.1;
}
.product-details .specifiction .related-product-box .similar-product-card .top .similar-product-card-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.product-details .specifiction .related-product-box .similar-product-card .top .similar-product-card-name p {
  font-size: 13px;
  font-weight: 600;
}
.product-details .specifiction .related-product-box .similar-product-card .top .similar-product-card-name .addcardt {
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
  background-color: green;
  color: white;
  margin-top: 10px !important;
}
.product-details .specifiction .related-product-box .similar-product-card .top .similar-product-card-name .others {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 10px;
}
.product-details .specifiction .related-product-box .similar-product-card .top .similar-product-card-name .others p {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px !important;
}
.product-details .specifiction .related-product-box .similar-product-card .top .similar-product-card-name .others a {
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
}
.product-details .specifiction .related-product-box .similar-product-card:hover {
  background-color: #ffffff;
}
.product-details .specifiction .seemore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgb(95, 187, 3);
}
.product-details .specifiction .seemore .seemore {
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.product-details .specifiction .seemore:hover {
  background-color: #f1f2f4;
}

.specification-cnt {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.specification-cnt .speci {
  flex: 0 0 50%;
  max-width: 0 0 50%;
  width: 50%;
  height: 100%;
  padding: 5px 10px;
}
.specification-cnt .speci ul {
  width: 100%;
}
.specification-cnt .speci ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7px 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  font-size: 14px;
  font-weight: 500;
}
.specification-cnt .speci .video-row {
  width: 100%;
  height: 315px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.specification-cnt .review {
  flex: 0 0 50%;
  max-width: 0 0 50%;
  width: 50%;
  height: 100%;
  padding: 5px 10px;
}
.specification-cnt .review .review-card {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  padding: 10px;
  margin-bottom: 10px;
}
.specification-cnt .review .review-card p {
  font-size: 14px;
  word-break: break-all;
  font-weight: 700 !important;
}
.specification-cnt .review .review-card p.user {
  margin-top: 10px;
}
.specification-cnt .review .review-card p.user span {
  color: rgb(95, 187, 3);
}
.specification-cnt .review .review-card p.user span.name {
  font-weight: 500 !important;
  color: #777777 !important;
}
.specification-cnt .review .your-review {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.specification-cnt .review .your-review .review-star {
  display: flex;
}
.specification-cnt .review .your-review .review-star li {
  cursor: pointer;
  margin: 0 3px;
}
.specification-cnt .review .your-review .review-star li span {
  color: #777777;
  font-size: 15px;
}
.specification-cnt .review .your-review form {
  width: 100%;
}
.specification-cnt .review .your-review form .group {
  width: 100%;
  margin-top: 10px;
}
.specification-cnt .review .your-review form .group input, .specification-cnt .review .your-review form .group textarea {
  width: 100%;
  height: calc(5.5rem + 2px);
  padding: 5px 10px;
  line-height: 1.25;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.specification-cnt .review .your-review form .group input:focus, .specification-cnt .review .your-review form .group textarea:focus {
  border-color: #ccc;
  outline: 0;
  box-shadow: none;
}
.specification-cnt .review .your-review form .group textarea {
  height: 100px;
}
.specification-cnt .review .your-review form .group .submit {
  background-color: #72BF44;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #212529;
}
.specification-cnt .review .your-review form .group-submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}/*# sourceMappingURL=pdetails.css.map */