//  Font family
$roboto : 'Roboto', sans-serif;             // regular text
$open-sans : 'Open Sans', sans-serif;      // Midd heading
$large-sans : 'DM Serif Display', serif;  // Large Heading



$details-fw : 300;
$details-fs-sm : 16px;
$details-lh-sm : 24px;
$details-fs-lg : 18px;
$details-lh-lg : 27px;