
$box-shadow-500: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

// Requirement Color
$dark: #242424;
$white: #ffffff;
$green-dark: #086d2c;
$green: #4FA16C;
// $blue: #523996;
$blue: #313d4c;
$blue-light: #455a73;
$indigo : #0e0a18;
// $blue-light: #775dbc;
$cyan : rgb(38, 176, 172);
$light-hash : rgb(186, 186, 186);
$dark-hash: rgb(137, 137, 137);

//  Club Logo Color
$cc-blue : #6A4BC5;
$cc-cyan : #5890A7;
$cc-green : #82A58D;
